@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", sans-serif;
  font-size: x-small;
  font-style: normal;
  color: rgb(255, 255, 255);
  background-color: #181818;
  line-height:2;
}

/*Loader start*/
/* Center the loader */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 80px;
    height: 80px;
    margin: -76px 0 0 -76px;
    border: 12px solid antiquewhite;
    border-radius: 50%;
    border-top: 12px solid #7300ff;
    border-bottom: 12px solid #7300ff;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

#myDiv {
    display: none;
    text-align: center;
}

/*loader end*/

/*Hero Section*/
nav {
  top: 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  box-shadow: 1px 1px 5px rgb(0, 0, 0);
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  padding: 10px;
  margin: 15px;
  font-size: small;
  color: rgb(255, 250, 181);
  transition: all 0.4s ease;
}

nav a {
  text-decoration: none;
}

nav li:hover {
  color: #bb86fc;
}

.hero {
  margin-top: 200px;
  height: 350px;
}

.hero-content h5 {
  font-size: medium;
  margin: 5px;
}

.hero-content h1 {
  font-size: xx-large;
}

#yellow {
  font-size: xx-large;
  color: rgb(255, 250, 181);
}

#purple {
  font-size: x-large;
  color: #b070ff;
}

.hero-content .hero-arrow>a {
  text-decoration: none;
  margin: 20px;
  padding: 30px;
  font-size: 50px;
  animation: arrow-load 2s infinite;
}

@keyframes arrow-load {
  0% {
    opacity: 0;
    transform: scale(0, 0, 2) translate(0px);
  }
}

/*End of hero*/

/*About Section*/
.about-section{
    height: 580px;
    margin-left: 8%;
    margin-right: 8%;
}

.About-content{
    margin-right: 8%;
    margin-right: 8%;
}

.About-content h1{
    margin: 20px;
    padding: 10px;
    font-size: xx-large;
}

.About-content p{
    font-size: x-small;
}

.about-box-2{

    display: flex;
    justify-content: space-evenly;
}
.about-box-2 .box-1{
    width: 60%;
    height: auto;
    align-items: start;
   font-size: x-small;
   padding: 10px;
   margin: 10px;
    
}

.about-box-2 .box-2{
    padding: 10px;
    margin: 10px;
    width: 40%;
    height: auto;
}

#p-yellow{
    color: rgb(255, 250, 181);
}

.about-btn button{
    padding: 10px;
    margin: 10px;
    border: 1px solid #bb86fc;
    background-color: #8420ff;
    width: 12%;
    border-radius: 10px;
    cursor: pointer;
}

.about-btn a{
    text-decoration: none;
}

.about-btn button:hover{
    background-color:rgb(255, 250, 181);
    color: #181818;
}
